.modal-backdrop.active {
  display: block;
  overflow: hidden;
}

.modal-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.card-modal::-webkit-scrollbar-thumb {
  background-color: #ef5b08;
  border-radius: 9px;
}

.card-modal {
  z-index: 2;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 70%;
  max-width: 800px;
  height: 87%;
  padding: 10px;
  border-radius: 10px;
}

.modal-card-img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 20px;
  border-radius: 25px;
}

.modal-info-content {
  display: flex;
  flex-direction: column;
  width: 177%;
  gap: 19px;
}

.modal-img-container {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.movie-title-modal {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 1.15;
  width: 54%;
}

.movie-info-container {
  margin-bottom: 20px;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  width: 61%;
}

.movie-info {
  color: #8c8c8c;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  padding: 5px;
  padding-right: 66px;
}

.movie-details {
  color: #000;
}

.votes-style {
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;
  background-color: #ef5b08;
  color: white;
  margin-right: 6px;
}

.voteCount-style {
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 5px;
  background: #f7f7f7;
}

.modal-buttons {
  display: flex;
  gap: 38px;
  padding-top: 20px;
}

.add-to-watched-btn-modal,
.add-to-queue-btn-modal {
  width: 100px;
  height: 44px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  background-color: #ff6b08;
  border-width: 1px;
  border-color: #0000;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.42;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  width: 124px;
}

.add-to-queue-btn-modal:hover,
.add-to-watched-btn-modal:hover {
  color: #000;
  background-color: #ef5b08;
}

.movie-info-about-text {
  color: #000;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  width: 60%;
  display: inline-block;
  padding-right: 43px;
}

.movie-info-about {
  color: #000;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
}

.close-card-modal {
  cursor: pointer;
  font-size: 30px;
  color: #333;
  font-weight: bold;
  float: right;
}

.close-card-modal:hover {
  color: #ef5b08;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ef5b08;
}
::-webkit-scrollbar-button {
  display: none;
}

@media screen and (min-width: 320px) {
  .modal-buttons {
    display: flex;
    gap: 29px;
    padding-left: 1px;
  }
  .add-to-watched-btn-modal,
  .add-to-queue-btn-modal {
    width: 86px;
  }
  .movie-info-container {
    width: 57%;
  }
}
@media screen and (min-width: 450px) {
  .modal-buttons {
    display: flex;
    gap: 29px;
    padding-left: 46px;
  }
  .add-to-watched-btn-modal,
  .add-to-queue-btn-modal {
    width: 110px;
  }
}

@media screen and (min-width: 768px) {
  .card-modal {
    width: 90%;
    height: 87%;
  }

  .modal-card-container {
    flex-direction: row;
    align-items: flex-start;
    display: flex;
  }

  .modal-info-content {
    width: 80%;
    padding-top: 15px;
  }
  .modal-buttons {
    justify-content: center;
    padding-top: 50px;
    padding-left: 1px;
    width: 95%;
  }
  .movie-info-about-text {
    width: 100%;
  }
  .movie-info-container {
    width: 100%;
  }
  .add-to-watched-btn-modal,
  .add-to-queue-btn-modal {
    width: 130px;
  }
  .movie-title-modal {
    font-size: 38px;
    width: 90%;
  }
}

@media screen and (min-width: 1280px) {
  .movie-title-modal {
    font-size: 30px;
    line-height: 1.17;
  }

  .movie-info-about-text {
    line-height: 1.67;
  }

  .card-modal {
    overflow-y: auto;
  }
  .modal-img-container {
    max-width: 70%;
    margin-bottom: 0;
  }
}
