<div class="backdrop backdrop-team " data-team>
  <div class="modal">
    <div class="modal-header">
      <a href="https://goit.global/ro/" class="team-link-logo" target="_blank">
        <img
          src="/src/images/modal-footer/logo.png"
          alt="GoIT Logo"
          width="100"
          height="30"
        />
      </a>
      <button class="modal-button-close" data-team-close>
        <svg
          class="modal-icon-close"
          width="14"
          height="14"
          aria-label="Modal close"
        >
          <use href="/src/images/modal-footer/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <div class="team-container">
      <h2 class="team-name">
        <span class="team-color-span">code</span>Crafters
      </h2>
      <ul class="team-list">
        <li class="team-member">
          <figure class="member-photo">
            <a
              href="https://github.com/MihailPaduraru"
              class="member-link"
              target="_blank"
            >
              <picture class="member-photo-img">
                <!--Desktop-->
                <source media="(min-width: 1280px)"
                srcset="/src/images/Desktop/member-1-d.jpg, /src/images/Desktop/member-1-d-x2.jpg"
                type="image/jpeg">
                <!--Tablet-->
                <source media="(min-width: 768px)"
                    srcset="/src/images/Tablet/member-1-t.jpg, /src/images/Tablet/member-1-t-x2.jpg"
                    type="image/jpeg">
                <!--Mobile-->
                  <source
                      srcset="/src/images/Mobile/member-1-m.jpg, /src/images/Mobile/member-1-m-x2.jpg"
                      type="image/jpeg">
                <img
                  src="/src/images/Mobile/member-1-m.jpg"
                  alt="First Member"
                />
              </picture>
            
            <figcaption class="team-description">
              <h3 class="member-name">Paduraru Mihail</h3>
              <p class="member-description">Team Lider</p>
            </figcaption>
          </figure>
        </a>
        </li>
        <li class="team-member">
          <a
            href="https://github.com/P-Alex13"
            class="member-link"
            target="_blank"
          >
            <figure class="member-photo">
              <picture class="member-photo-img">
                <!--Desktop-->
                <source media="(min-width: 1280px)"
                srcset="/src/images/Desktop/member-2-d.jpg, /src/images/Desktop/member-2-d-x2.jpg"
                type="image/jpeg">
                <!--Tablet-->
                <source media="(min-width: 768px)"
                    srcset="/src/images/Tablet/member-2-t.jpg, /src/images/Tablet/member-2-t-x2.jpg"
                    type="image/jpeg">
                <!--Mobile-->
                  <source
                      srcset="/src/images/Mobile/member-2-m.jpg, /src/images/Mobile/member-2-m-x2.jpg"
                      type="image/jpeg">
                <img
                  src="/src/images/Mobile/member-2-m.jpg"
                  alt="First Member"
                />
              </picture>

              <figcaption class="team-description">
                <h3 class="member-name">Petrescu Alexandru</h3>
                <p class="member-description">Scrum Master</p>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="team-member">
          <a
            href="https://github.com/paulbg2001"
            class="member-link"
            target="_blank"
          >
            <figure class="member-photo">
              <picture class="member-photo-img">
                <!--Desktop-->
                <source media="(min-width: 1280px)"
                srcset="/src/images/Desktop/member-3-d.jpg, /src/images/Desktop/member-3-d-x2.jpg"
                type="image/jpeg">
                <!--Tablet-->
                <source media="(min-width: 768px)"
                    srcset="/src/images/Tablet/member-3-t.jpg, /src/images/Tablet/member-3-t-x2.jpg"
                    type="image/jpeg">
                <!--Mobile-->
                  <source
                      srcset="/src/images/Mobile/member-3-m.jpg, /src/images/Mobile/member-3-m-x2.jpg"
                      type="image/jpeg">
                <img
                  src="/src/images/Mobile/member-3-m.jpg"
                  alt="First Member"
                />
              </picture>
              <figcaption class="team-description">
                <h3 class="member-name">Bara Graeff Paul</h3>
                <p class="member-description">Team Member</p>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="team-member">
          <a
            href="https://github.com/CristinaSuciu26"
            class="member-link"
            target="_blank"
          >
            <figure class="member-photo">
              <picture class="member-photo-img">
                <!--Desktop-->
                <source media="(min-width: 1280px)"
                srcset="/src/images/Desktop/member-4-d.jpg, /src/images/Desktop/member-4-d-x2.jpg"
                type="image/jpeg">
                <!--Tablet-->
                <source media="(min-width: 768px)"
                    srcset="/src/images/Tablet/member-4-t.jpg, /src/images/Tablet/member-4-t-x2.jpg"
                    type="image/jpeg">
                <!--Mobile-->
                  <source
                      srcset="/src/images/Mobile/member-4-m.jpg, /src/images/Mobile/member-4-m-x2.jpg"
                      type="image/jpeg">
                <img
                  src="/src/images/Mobile/member-4-m.jpg"
                  alt="First Member"
                />
              </picture>
              <figcaption class="team-description">
                <h3 class="member-name">Suciu Cristina</h3>
                <p class="member-description">Team Member</p>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="team-member">
          <a
            href="https://github.com/LauraMladin"
            class="member-link"
            target="_blank"
          >
            <figure class="member-photo">
              <picture class="member-photo-img">
                <!--Desktop-->
                <source media="(min-width: 1280px)"
                srcset="/src/images/Desktop/member-5-d.jpg, /src/images/Desktop/member-5-d-x2.jpg"
                type="image/jpeg">
                <!--Tablet-->
                <source media="(min-width: 768px)"
                    srcset="/src/images/Tablet/member-5-t.jpg, /src/images/Tablet/member-5-t-x2.jpg"
                    type="image/jpeg">
                <!--Mobile-->
                  <source
                      srcset="/src/images/Mobile/member-5-m.jpg, /src/images/Mobile/member-5-m-x2.jpg"
                      type="image/jpeg">
                <img
                  src="/src/images/Mobile/member-5-m.jpg"
                  alt="First Member"
                />
              </picture>
              <figcaption class="team-description">
                <h3 class="member-name">Mladin Laura</h3>
                <p class="member-description">Team Member</p>
              </figcaption>
            </figure>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
