<section>
  <div id="card-modal" class="card-modal">
    <div class="modal-card-content">
      <!-- Modal content -->
      <span class="close">&times; Close</span>
    </div>
  </div>

  <style>
    .card-modal {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 806px;
      height: 558px;
      background-color: white;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  </style>
  <script type="module" src="./js/open-modal-card.js"></script>
</section>
